.count-time {
    color: #6047EC;
    font-weight: 700;
    font-size: 24px;
    background: rgba(96, 71, 236, 0.1);
    border: 1px solid #6047EC;
    border-radius: 8px;
}

.added-bookmark {
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    padding: 30px 0;
    margin-top: 24px;
}